.mobile-ad-slot{ clear:both; display:none; float:none; margin-bottom:5%; padding-top:3%;

	&.filled{ display:block; }
	&.comment{ margin-bottom:5% !important; padding-top:3% !important; }
	.ad-label{ text-align:center; margin-bottom:-18px;text-transform:uppercase; color:#9C9F96; font-family:helvetica, arial, sans-serif; font-size:10px; }
	.goog-ad{ margin:20px auto; width:300px;}
}

.top-content-ads-container{
	text-align: center;
}
.top-content-ad{
	display:inline-block;
	margin-bottom:5%;
}
.top-content-ads-container+.post{
	border-top:none;
}

@media only screen and (max-width: 767px){
	.top-content-ad{
		display:block;
		margin: 0 auto 5%;
		width: 300px;
	}
}

@media only screen and (max-width:342px){
	.mobile-ad-slot{ width:112.76596%; margin-left:-6.38298%; }
}